
@import url('https://fonts.googleapis.com/css?family=Syncopate:800,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');
:root {
  --logoFont: 'Syncopate';
  --mainFont: 'Open Sans';

  --deepBlue: #557a95;
  --lightBlue: #7395ae;
  --deepGrey: #5d5c61;
  --lightGrey: #379683;
  --lightMate: #b1a296;
  --mainWhite: rgb(225, 233, 236);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: var(--mainFont), sans-serif;
  background: var(--mainWhite);
  font-size: 1rem;
  margin: 0;
  padding-top: 0;
}

/* Main Layout */
.layout {
  display: grid;
  grid-template-columns: auto 850px 350px auto;
  grid-template-rows: 60px auto 30px;
  grid-template-areas: 
  "l n n r"
  "l c t r"
  "l f f r";
  grid-row-gap: 10px;
  background-color: var(--mainWhite);
  height: 100vh;
}

/* Navbar */
.navbar {
  grid-area: n;  
  background-color: rgb(40, 44, 56);
  color: aliceblue;
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}
.logo {
  font-family: var(--logoFont);
  font-size: 1.1em;
  letter-spacing: -.8px;
}
.links {
  display: flex;
  justify-content: space-around;
  width: 25%;
  font-size: 11px;
  text-decoration: none;
  font-weight: bold;
}
.links > li {
  list-style: none;
  white-space: nowrap;
  padding: 7px;
  cursor: pointer;
}
/* Sidebar */
.sidebar {
  grid-area: t;
  justify-self: center;
  background-color: rgb(94, 94, 116);
  display: flex;
  width: 100%;
}
/* Content Area*/
.content-container {
  grid-area: c;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 5px;
  /* background-color: rgb(149, 182, 171); */
  justify-items: center;
}

/* Content Col 1 */
.point-table {
  margin-top: 20px;
  width: 400px;
  min-height: 400px;
  padding: .5em;
}
.title {
  display: grid;
  margin: 10px 3px;
  grid-template-columns: auto 1fr;
  /* justify-content: space-between; */
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}
.title > hr {
  grid-column-start: 2;
  margin: 10px 10px; 
}
.title > span {
  min-width: 100px;
  text-align: center;
}


/* Footer */
footer {
  grid-area: f;
  background-color: #2F3342;
  color: aliceblue;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}



/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */

/* total width */
body::-webkit-scrollbar {
  background-color:#fff;
  width:13px
}

/* background of the scrollbar except button or resizer */
body::-webkit-scrollbar-track {
  background-color:#fff
}

/* scrollbar itself */
body::-webkit-scrollbar-thumb {
  background-color:#babac0;
  border-radius:16px;
  border:2px solid #fff
}

/* set button(top and bottom of the scrollbar) */
body::-webkit-scrollbar-button {display:none}
